* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: #2c3e50;
}
body::-webkit-scrollbar-thumb {
  background: #0d77a9;
  border-radius: 6px;
}

.propos {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/grunge-paint-background.webp) no-repeat;
  background-size: cover;
  background-position: right center;
}
