* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

body {
  height: 200vh;
  cursor: none;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: #2c3e50;
}
body::-webkit-scrollbar-thumb {
  background: #0d77a9;
  border-radius: 6px;
}
