.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.5s ease;
}

.navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navbar li {
  position: relative;
  padding: 1rem;
  margin: 7px;
  font-size: 1.4rem;
  background: $header-color;
  display: block;
  border-radius: 3px;
}
.navbar a {
  position: relative;
  color: #f3f2f9;
  font-family: "Roboto", sans-serif;
}
.navbar a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.35s ease-out;
}

.navbar a:hover::after {
  width: 100%;
}

/* Permet de retirer la ligne du milieu et de croiser la ligne 1 et 3  */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 1024px) {
  .navbar {
    clip-path: none;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
}
