section {
  width: 90%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projets {
  background: blue;
}
.contact {
  background: green;
}

@media (min-width: 1024px) {
  section {
    width: 80%;
  }
}
