.section {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section__projets {
  padding-block: 2.5rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-size: 2rem;
}
.section__subtitle {
  display: block;
  margin-bottom: 3rem;
  padding: 10px;
}
