.border__section {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  border-bottom: 1px solid black;
}
.border__section-projets {
  width: 70%;
  border-bottom: 1px solid black;
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .border__section {
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
  }
}
