.btn-toggle {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
.svg__sun {
  width: 100%;
  height: 100%;
  background: url(../images/svg/sun-solid.svg) center no-repeat;
}
.svg__moon {
  display: none;
  width: 100%;
  height: 100%;
  background: url(../images/svg/moon-solid.svg) center no-repeat;
}

/* Ne pas mettre d'espace entre "body" et ".dark" pour dire que body a la class ".dark" */
body.dark {
  color: #fff;
  background: #0d1017;
  transition: 1s ease;
}
body.light {
  transition: 1s ease;
}
body.dark .border__section {
  border-bottom: 1px solid white;
}
body.dark .border__section-projets {
  border-bottom: 1px solid white;
}
body.dark .svg__moon {
  display: block;
}
body.dark .svg__sun {
  display: none;
}
body.dark .svg__mail {
  background: url(../images/svg/mail-white.svg) center no-repeat;
}
body.dark .svg__github {
  background: url(../images/svg/github-white.svg) center no-repeat;
}
body.dark .svg__linkedin {
  background: url(../images/svg/linkedin-white.svg) center no-repeat;
}
body.dark .svg-chevron-left {
  background: url(../images/svg/chevron-left-solid-white.svg) center no-repeat;
}
body.dark .svg-chevron-right {
  background: url(../images/svg/chevron-right-solid-white.svg) center no-repeat;
}
body.dark .projets__arrow {
  background: url(../images/svg/arrow-right-solid-white.svg) center no-repeat;
}
body.dark .projets__arrow {
  background: url(../images/svg/arrow-right-solid-white.svg) center no-repeat;
}
body.dark .swiper-pagination-bullet {
  background: white;
}
body.dark .projects__button {
  color: rgb(221, 255, 28);
}

@media (min-width: 1024px) {
  .btn-toggle {
    left: initial;
    right: 100px;
    width: 55px;
    height: 35px;
  }
}
